/JHR_Night01/build/
/JHR_ReiviewCore03/target/
/JHR_ReiviewCore04/target/
/JHR_ChuaBaiTap/target/
/JHR_JDBC_MVC/target/
/JHR_JDBC_MVC02/target/
/DemoGenJPA/target/
/DemoJPAStepByStep/target/
/DemoWeb01/target/
/DemoJPAServletJSP/target/
/DemoSessionCookieEventFillter/target/
/testt/testt-web/target/
/Clienttttttttwssss/target/
/JavaApplication51/nbproject/private/
/JavaApplication51/build/
/DemoWebservice/nbproject/private/
/DemoWebservice/build/
/DemoClientWS/nbproject/private/
/DemoClientWS/build/
/DemoClientWS/dist/
/DemoWebservice/dist/