<div>
    <h2 id="page-heading">
        <span jhiTranslate="demoJavaHerooooApp.document.home.title">Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document" [routerLink]="['/document/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="demoJavaHerooooApp.document.home.createLabel">
            Create new Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="documents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.document.name">Name</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.document.description">Description</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.document.uRL">U RL</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.document.size">Size</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.document.tag">Tag</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.document.status">Status</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.document.documentType">Document Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of documents ;trackBy: trackId">
                <td><a [routerLink]="['/document', document.id, 'view' ]">{{document.id}}</a></td>
                <td>{{document.name}}</td>
                <td>{{document.description}}</td>
                <td>{{document.uRL}}</td>
                <td>{{document.size}}</td>
                <td>{{document.tag}}</td>
                <td jhiTranslate="{{'demoJavaHerooooApp.Status.' + document.status}}">{{document.status}}</td>
                <td>
                    <span *ngFor="let documentType of document.documentTypes; let last = last">
                            <a class="form-control-static" [routerLink]="['../document-type', documentType?.id, 'view' ]">{{documentType.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/document', document.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/document', document.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'document', { outlets: { popup: document.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
