<div>
    <h2 id="page-heading">
        <span jhiTranslate="demoJavaHerooooApp.criteriaEvaluate.home.title">Criteria Evaluates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-criteria-evaluate" [routerLink]="['/criteria-evaluate/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="demoJavaHerooooApp.criteriaEvaluate.home.createLabel">
            Create new Criteria Evaluate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="criteriaEvaluates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.criteriaEvaluate.content">Content</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.criteriaEvaluate.level">Level</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.criteriaEvaluate.pass">Pass</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.criteriaEvaluate.good">Good</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.criteriaEvaluate.excellent">Excellent</span></th>
            <th><span jhiTranslate="demoJavaHerooooApp.criteriaEvaluate.criteriaType">Criteria Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let criteriaEvaluate of criteriaEvaluates ;trackBy: trackId">
                <td><a [routerLink]="['/criteria-evaluate', criteriaEvaluate.id, 'view' ]">{{criteriaEvaluate.id}}</a></td>
                <td>{{criteriaEvaluate.content}}</td>
                <td>{{criteriaEvaluate.level}}</td>
                <td>{{criteriaEvaluate.pass}}</td>
                <td>{{criteriaEvaluate.good}}</td>
                <td>{{criteriaEvaluate.excellent}}</td>
                <td>
                    <div *ngIf="criteriaEvaluate.criteriaType">
                        <a [routerLink]="['../criteria-type', criteriaEvaluate.criteriaType?.id, 'view' ]" >{{criteriaEvaluate.criteriaType?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/criteria-evaluate', criteriaEvaluate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/criteria-evaluate', criteriaEvaluate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'criteria-evaluate', { outlets: { popup: criteriaEvaluate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
