<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-teacher-document-heading" jhiTranslate="demoJavaHerooooApp.teacherDocument.home.createOrEditLabel">Create or edit a Teacher Document</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!teacherDocument.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="teacherDocument.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoJavaHerooooApp.teacherDocument.role" for="field_role">Role</label>
                    <select class="form-control" name="role" [(ngModel)]="teacherDocument.role" id="field_role" >
                        <option value="OWNER">{{'demoJavaHerooooApp.Role.OWNER' | translate}}</option>
                        <option value="SHARED">{{'demoJavaHerooooApp.Role.SHARED' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoJavaHerooooApp.teacherDocument.teacher" for="field_teacher">Teacher</label>
                    <select class="form-control" id="field_teacher" name="teacher" [(ngModel)]="teacherDocument.teacher" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="teacherOption.id === teacherDocument.teacher?.id ? teacherDocument.teacher : teacherOption" *ngFor="let teacherOption of teachers; trackBy: trackTeacherById">{{teacherOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoJavaHerooooApp.teacherDocument.document" for="field_document">Document</label>
                    <select class="form-control" id="field_document" name="document" [(ngModel)]="teacherDocument.document" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentOption.id === teacherDocument.document?.id ? teacherDocument.document : documentOption" *ngFor="let documentOption of documents; trackBy: trackDocumentById">{{documentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
